@import "base";
@import "partials/fonts";
@import "partials/mixins";
@import "partials/animations";
@import "partials/anim-example";


$box-size: 500px;
$box-color: #f9f9f9;

$star-size: 15px;
$star-color: red;

$earth-size: 300px;
$earth-color: green;

.page-content {
	overflow: hidden;
	min-height: 100vh;
	position: relative;
	background: #222;
}

.earth-anim {
	@include absolute(0 0 116px 0);
}

// stars

.earth-anim__star {
	display: block;
	width: 10px;
	height: 10px;
	background: purple;
	position: absolute;
	transform: rotate(45deg);
	transition: all .5s ease;
	.is-active & {
		background-color: yellow;
	}
}

.earth-anim__star--1 {
	// position star here
	top: 30px;
	left: 50px;
}

.earth-anim__star--2 {
	// position star here
	bottom: 200px;
	right: 30px;
}

.earth-anim__star--3 {
	// position star here
	bottom: 30px;
	left: 140px;
}

// earth

.earth-anim__earth {
	display: block;
	// declare the size
	width: $earth-size;
	height: $earth-size;

	// absolute center this thing
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;

	// lets add some style
	background-image: linear-gradient(#FA9401, #A32F04);
	border-radius: 50%;
	box-shadow: -10px -10px rgba(0,0,0,.2) inset;
	transition: opacity .7s ease, box-shadow 1s ease, transform 1s ease;
	// transition: all 1s ease;
	opacity: .05;
	transform-origin: center center;
	transform: rotate(30deg) scale(.6) translateY(500px);

	.is-active & {
		box-shadow: -30px -30px rgba(0,0,0,.2) inset;
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}

.earth-anim__moon {
	display: block;
	// declare the size
	width: 100px;
	height: 100px;

	// absolute center this thing
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;

	// lets add some style
	background-image: radial-gradient(#ffffff, #f2f2f2);
	border-radius: 50%;
	box-shadow: -15px -15px rgba(0,0,0,.2) inset;
	transition: all 1s ease;
	// transition: all 1s ease;
	opacity: 0;
	transform-origin: center center;
	transition-delay: 1s;

	.is-active & {
		// transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}


.anim-trigger {
	@include input-default;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	// type
	font-family: "proxima-nova";
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;

	// basic styles
	padding: 50px 0;
	text-align: center;
	background: #eee;

}
