@import "base";
@import	"partials/swiper";
@import "partials/fonts";
@import "partials/mixins";
@import "partials/animations";
@import "partials/anim-example";


$star-size: 15px;
$base-planet-size: ceil(100vh / 12);

$planet-list:
	mercury		0.38		linear-gradient(30deg,#2c93fa,#fdff9e 90%),
	venus			0.95		linear-gradient(#E59F30,#912020),
	earth			1				linear-gradient(110deg, #34b8e8 10%, #abcf55 90%),
	mars			0.53		linear-gradient(#FA9401, #A32F04),
	jupiter		11.19		linear-gradient(#B47643,#C52505),
	saturn		9.4			linear-gradient(#D8A650,#A48361),
	uranus		4.04		radial-gradient(40% 45%, farthest-side, #CBD9E4,#6799CA),
	neptune 	3.88		linear-gradient(#436BFE, #2C368C),
	pluto			0.18		linear-gradient(#BEBEB9,#7B5A38);

html {
	background: #222;
}

.page-content {
	overflow: hidden;
	min-height: 100vh;
	position: relative;
}

.planet-anim {
	@include absolute(0 0 100px 0);
}

// stars

.star-list {
	@include absolute(0 0 0 0);
}

.star-list__item {
	display: block;
	background-color: #222;
	position: absolute;
	transform: rotate(45deg);
	transition: all .5s ease;
	.is-active & {
		background-color: #fff;
	}
}

// randomly place all starts
@for $i from 1 through 9 {
	.swiper-slide:nth-child(#{$i}) {
		@for $i from 1 through 9 {
			$random-star-size: random(4) + px;
			$random-star-top: random(100) + vh;
			$random-star-left: random(100) + vw;
			.star-list__item:nth-child(#{$i}) {
				width: $random-star-size;
				height: $random-star-size;
				opacity: random(10) / 15 + .6;
				top: $random-star-top;
				left: $random-star-left;
			}
		}
	}
}

// planet

.planet-anim__planet {
	display: block;

	// absolute center this thing
	position: absolute;
	top: 50%;
	left: 50%;

	// lets add some style
	border-radius: 50%;
	transition: opacity .7s ease, box-shadow 1s ease, transform 1s ease;

	opacity: .05;
	transform-origin: center center;
	transform: rotate(30deg) scale(.6);

	.is-active & {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}


@each $planet in $planet-list {
	$planet-size: $base-planet-size * nth($planet, 2);
	$planet-box-shadow: $planet-size / -10;
	$planet-offset: $planet-size * -0.5;
	.planet-anim__#{nth($planet, 1)} {
		@include size($planet-size);
		margin-top: calc(#{$planet-offset} - 50px);
		margin-left: $planet-offset;
		background: nth($planet, 3);
		box-shadow: $planet-box-shadow $planet-box-shadow rgba(0,0,0,.2) inset;
	}
}

.planet-label {
	@include absolute(n 0 0 0);
	height: 100px;
	// type
	font-family: "proxima-nova";
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;

	// basic styles
	padding: 40px 0;
	text-align: center;
	background: #eee;
}


.anim-trigger {
	@include input-default;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	// type
	font-family: "proxima-nova";
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;

	// basic styles
	padding: 50px 0;
	text-align: center;
	background: #eee;

}
