@import "base";
@import "partials/fonts";
@import "partials/mixins";
@import "partials/animations";
@import "partials/anim-example";


$box-size: 500px;
$box-color: #f9f9f9;

$star-size: 15px;
$star-color: #00223e;

$earth-size: 300px;
$earth-color: green;

.page-content {
	overflow: hidden;
	min-height: 100vh;

}

.earth-anim {
	position: relative;
	max-width: $box-size;
	height: $box-size;
	margin: 100px auto 0;
	background: $box-color;
}

// stars

.earth-anim__star {
	display: block;
	width: 10px;
	height: 10px;
	background: $star-color;
	position: absolute;
	transform: rotate(45deg);
	opacity: 0;
	transition: all 1s;

	.is-active & {
		opacity: 1;
	}
}

.earth-anim__star--1 {
	// position star here
	top: 30px;
	left: 50px;
}

.earth-anim__star--2 {
	// position star here
	bottom: 200px;
	right: 30px;
}

.earth-anim__star--3 {
	// position star here
	bottom: 30px;
	left: 140px;
}

//moon

.earth-anim__moon {
	display: block;

	width: 75px;
	height: 75px;

	position: absolute;
	top: 50px;
	right: 40px;

	background-image: linear-gradient(117deg, #3d72b4 30%, #00223e);
	border-radius: 50%;
	box-shadow: 5px 5px rgba(0,0,0,.2) inset;
	opacity: 0;
	transition: all 1.5s;

	.is-active & {
		box-shadow: -5px -5px rgba(0,0,0,.2) inset;
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}

}

// earth

.earth-anim__earth {
	display: block;
	// declare the size
	width: $earth-size;
	height: $earth-size;

	// absolute center this thing
	position: absolute;
	top: ($earth-size * -0.5);
	left: ($earth-size * -0.5);
	margin-top: 50%;
	margin-left: 50%;

	// lets add some style
	background-image: linear-gradient(117deg, #ffa17f 13%, #00223e);
	border-radius: 50%;
	box-shadow: 5px 5px rgba(0,0,0,.2) inset;
	transition: opacity 1s ease, box-shadow 1.5s ease, transform 1.5s ease;
	opacity: 0;
	transform: rotate(40deg) scale(.9);

	.is-active & {
		box-shadow: -25px -25px rgba(0,0,0,.2) inset;
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}
}


.anim-trigger {
	@include input-default;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	// type
	font-family: "proxima-nova";
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;

	// basic styles
	padding: 50px 0;
	text-align: center;
	background: #eee;

}
