// This mixin can be used to increment the transition or animation delay of sibling elements using the :nth-child(n) selector, most commonly <li>'s in a <ul>.
//
// Parameter Definitions
// $offset = the time between transitions / animations
// $count = the number of items animating
// $delay = adds a delay to the series of animations
// $type = specifies the type of delay. This can be either transition or animation.
// see http://codepen.io/nathanhass/pen/LVVxwg

@mixin increment-delay($offset: .05s, $count: 10, $delay: 0, $type: transition) {
  @for $i from 1 through $count {
    $time: ($i * $offset) + $delay;
    &:nth-child(#{$i}) {
      #{$type}-delay: $time;
    }
  }
}

// 1. mixin should define the button color.
// 2. mixin should define the button size.
// 3. button should have hover state

@mixin button($padding, $font-size) {
	background-color: #c3e9f3;
	color: #687caf;
	margin:20px;
	border: .3em solid #687caf;
	border-radius: 3.5em;
	padding: $padding;
	font-size: $font-size;
	font-family: "Arial";
	font-weight: bold;
	
	&:hover {
		cursor: pointer;
		background-color: mix(white, #c3e9f3, 15%);
		border-color: mix(white, #687caf, 40%);
		color: mix(white, #687caf, 40%);
	}
}

